# IDE
/.idea

# Packages
/node_modules
/vendor

# Data
/www/upload/*
/www/.htaccess

# Generated
/www/dist/*
/var
/temp/*
/log/*

# Local
/app/Config/server/local.neon
/app/Config/google_service_account.json
/.env
.data
.docker
