{block #content}
	<section class="d-flex align-items-center justify-content-center" style="padding: 3rem 0; min-height: 100vh;">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<h2>{block title}Error #404{/block}</h2>
					<h3>Požadovaná stránka nenalezena</h3>
				</div>
				<div class="col-xl-6">
					<a n:href=":Front:Homepage:" class="btn btn-primary my-5">Zpět na úvod</a>
				</div>
			</div>
		</div>
	</section>
{/block}
