'Description': ''
'Title': ''
'Přihlásit se': ''
'Vytvořilo': ''
'Odhlásit se': ''
'Hlavní menu': ''
'Uživatelé': ''
'Konfigurace': ''
'Zprávy': ''
'Zobrazit stránky': ''
'Uložit': ''
'Sloupce tabulky': ''
'Zavřít': ''
